
.tab {
    height:120px;
    display: block;
    padding: 0px;
    width:100%;
    margin-top:0px;
    margin-bottom:0px;
    font-size:18px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    color:#FFFFFF;
    background-color: #f55692;
}

.tabList {
    display: inline-block;
    width: 20%;
    padding: 0px;
    margin-bottom: 0px;
}

.tab[aria-selected="true"] {
    background-color: #f55692;
}

.tab[aria-selected="false"] {
    background-color: #fdd;
}

/*Use relative styling for the 2 icons*/
.eventBanner {
    position:relative;
    display: block;
    background-color: inherit;
    background-image: url(/assets/images/upcomingevents-bg.jpg);
    /*Need to stretch image*/
    width: 100%;
    height: 100%;
    color:turquoise;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0px;
}

.dateLabel {
    display: inline-block;
    height: 100%;
    width: 20%;
    word-wrap: break-word;
    font-size: 22px;
    text-align: center;
    color: #fff;
    background-color: #fdd;
    padding: 0px;
    vertical-align: top;
}

.eventLabel {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: inherit;
    padding: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.eventContent {
    display: inline-block;
    width: 80%;
    height: 100%;
    padding: 0px;
    vertical-align: top;
}

.eventContainer {
    height: 100px;
    border: solid 1px #b44;
    border-radius: 4px;
    vertical-align: top;
    margin: 10px;
}

.participantContainer {
    background-color:turquoise;
    height: 40px;
    border: solid 1px #b44;
    border-radius: 4px;
    vertical-align: top;
    margin: 10px;
}

.eventDetails {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #fff;
}

.eventDetails span {
    vertical-align: top;
    height: 100%;
    color: #000;
    text-wrap:normal;
    padding: 6px;
}

.eventName {
    display: inline-block;
    width: 33%;
}

.eventEmptySpace {
    display: inline-block;
    width: 10%;
}

.participantEmptySpace {
    display: inline-block;
    width: 15%;
}

.eventTime {
    display: inline-block;
    width: 40%;
}

.eventLocation {
    display: inline-block;
    width: 40%;
}

.tab-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: inline-block;
    width: 80%;
    top: 160px;
    vertical-align: top;
    background-color: #fff4f4;
}

.sticky-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
    z-index: 1;
}

.clock-icon {
    display: inline-block;
    background-color: Transparent;
    background-image: url(/assets/images/clock.png);
    width:34px;
    height:34px;
    color:#FFFFFF;
    margin-left:-34px;
    padding:10px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.location-icon {
    display: inline-block;
    background-color: Transparent;
    background-image: url(/assets/images/map.png);
    width:34px;
    height:34px;
    color:#FFFFFF;
    margin-left:-34px;
    padding:10px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.edit-btn {
    display: inline-block;
    background-image: url(/assets/images/edit.png);
    background-color: transparent;
    width:34px;
    height:100%;
    color:#FFFFFF;
    margin-left:-34px;
    margin-top:-35%;
    padding:0px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    float: right;
    position:relative;
}

.exit-btn {
    display: inline-block;
    background-image: url(/assets/images/exit.png);
    background-color: transparent;
    width:34px;
    height:100%;
    color:#FFFFFF;
    margin-left:-34px;
    margin-top:-35%;
    padding:0px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    float: right;
    position:relative;
}

.dropdown-form {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 50px;
}

.dropdown-label {
    font-size: 18px;
    text-align: right;
    vertical-align:middle;
}

.profile-icon {
    display: inline-block;
    background-image: url(/assets/images/upcomingevents-bg.jpg);
    width:20px;
    height:20px;
    color:#FFFFFF;
    margin-left:-20px;
    padding:10px;
    border-color:Transparent;
    horiz-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.phone-icon {
    display: inline-block;
    background-image: url(/assets/images/phone.png);
    width:20px;
    height:20px;
    color:#FFFFFF;
    margin-left:-20px;
    horiz-align: center;
    padding:10px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.delete-icon {
    display: inline-block;
    background-image: url(/assets/images/trash-can.png);
    width:20px;
    height:20px;
    color:#FFFFFF;
    margin-right: 0;
    horiz-align: center;
    padding:10px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.participantName {
    display: inline-block;
    width: 35%;
}

.participantNumber {
    display: inline-block;
    width: 35%;
}
