.tab:focus {
    /*background-color:#aef;*/
    background-image: linear-gradient(to bottom right, #ededff , #fff, #ededff);
}

.tab:active {
    background-color: #eef;
    /*background-color:#9df;*/
}


.tab {
    height:120px;
    display: block;
    padding: 0px;
    width:100%;
    margin-top:0px;
    margin-bottom:0px;
    font-size:18px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 12px solid transparent;
    border-right-width: 6px;
    border-left-width: 6px;
    border-radius: 0px;
    white-space: nowrap;
    color:#FFFFFF;
    /*background-color: #f55692;*/
    /*background-image:url(/assets/images/stamp.png);*/
    background-position: 40% 40%;
    /*background-repeat: no-repeat;*/
    /*background-color:#aef;*/
    background-image: linear-gradient(to bottom right, #ededff , #fff, #ededff);
    background-size: 120px 90px;
    margin:-2px;
}

.tabList {
    display: inline-block;
    width: 20%;
    padding: 0px;
    margin-bottom: 0px;
}

.tab div span {
    /*background-color: #f55692;*/
    background-image: linear-gradient(to bottom right, lightsalmon , gold, lightsalmon);
}

.tab[aria-selected="true"] div {
    opacity: 1.0;
}

.tab[aria-selected="false"] div span {
    /*background-color: #fdd;*/
    background-image: linear-gradient(to bottom right, #fec498, #dd9, #fec498);
}

.tab[aria-selected="false"] div {
    opacity: 0.8;
}

/*Use relative styling for the 2 icons*/
.eventBanner {
    position:relative;
    display: block;
    background-color: inherit;
    background-image: url(/assets/images/upcomingevents-bg.jpg);
    /*Need to stretch image*/
    width: 100%;
    height: 100%;
    /*color:turquoise;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0px;
    border: 1px solid #fff;
    border-radius:4px;
}

.dateLabel {
    display: inline-block;
    height: 100%;
    width: 20%;
    word-wrap: break-word;
    font-size: 22px;
    text-align: center;
    color: #fff;
    background-color: #fdd;
    padding: 0px;
    vertical-align: top;
}

.eventLabel {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: inherit;
    padding: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.eventContent {
    display: inline-block;
    width: 80%;
    height: 100%;
    padding: 0px;
    vertical-align: top;
}

.eventContainer {
    height: 100px;
    border: solid 1px #b44;
    border-radius: 4px;
    vertical-align: top;
    margin: 10px;
}

.participantContainer {
    background-color:paleturquoise;
    height: 40px;
    border: solid 1px #b44;
    border-radius: 20px;
    vertical-align: top;
    margin: 10px;
}

.participantContainer span {
    display: inline-block;
    height: 40px;
    text-align: center;
    vertical-align: top;
}

.participantContainer span span {
    height: 30px;
    width: 30px;
    vertical-align: center;
    margin: 2px;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

.participantContainer span div {
    display: inline-block;
    height: 30px;
    margin: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.eventDetails {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #fff;
}

.eventDetails span {
    vertical-align: top;
    height: 100%;
    color: #000;
    text-wrap:normal;
    padding: 6px;
}

.eventName {
    display: inline-block;
    width: 33%;
}

.eventEmptySpace {
    display: inline-block;
    width: 10%;
}

.participantEmptySpace {
    display: inline-block;
    width: 15%;
}

.eventTime {
    display: inline-block;
    width: 40%;
}

.eventLocation {
    display: inline-block;
    width: 40%;
}

.tab-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: inline-block;
    width: 80%;
    top: 60px;
    height: 90vh;
    vertical-align: top;
    background-image: linear-gradient(to bottom right, #fff0da , #fff4f4, #fff0da);
    /*background-color: #fff4f4;*/
}

.sticky-header { /* not used */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.clock-icon {
    display: inline-block;
    background-color: Transparent;
    background-image: url(/assets/images/clock.png);
    width:34px;
    height:34px;
    color:#FFFFFF;
    margin-left:-34px;
    padding:10px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.location-icon {
    display: inline-block;
    background-color: Transparent;
    background-image: url(/assets/images/map.png);
    width:34px;
    height:34px;
    color:#FFFFFF;
    margin-left:-34px;
    padding:10px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.edit-btn {
    display: inline-block;
    background-image: url(/assets/images/edit.png);
    background-color: transparent;
    width:34px;
    height:34px !important;
    height:100%;
    color:#FFFFFF;
    margin-left:-34px;
    margin-top:-35%;
    padding:0px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    float: right;
    position:relative;
}

.exit-btn {
    display: inline-block;
    background-image: url(/assets/images/exit.png);
    background-color: transparent;
    width:34px;
    height:100%;
    color:#FFFFFF;
    margin-left:-34px;
    margin-top:-35%;
    padding:0px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    float: right;
    position:relative;
}

.dropdown-form {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 50px;
}

.dropdown-label {
    font-size: 18px;
    text-align: right;
    vertical-align:middle;
}

.profile-icon {
    display: inline-block;
    background-image: url(/assets/images/upcomingevents-bg.jpg);
    width:20px;
    height:20px;
    color:#FFFFFF;
    margin-left: 0px;
    padding:10px;
    border-color:Transparent;
    border-radius:50%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.phone-icon {
    display: inline-block;
    background-image: url(/assets/images/phone.png);
    width:20px;
    height:20px;
    color:#FFFFFF;
    margin-left: 0px;
    padding:10px;
    border-color:Transparent;
    border-radius:50%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.delete-icon {
    display: inline-block;
    background-image: url(/assets/images/trash-can.png);
    background-color: transparent;
    width:30px;
    height:30px;
    margin:4px;
    float: right;
    color:#FFFFFF;
    margin-right: 4px;
    padding:10px;
    border-color:Transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.participantName {
    display: inline-block;
    width: 40%;
    margin-left: -10px;
}

.participantNumber {
    display: inline-block;
    width: 40%;
    margin-left: -10px;
}

.width-20 {
    display: inline-block;
    width: 20%;
}

.width-80 {
    display: inline-block;
    width: 80%;
}

.padded-btn {
    border-width: 10px;
    border-color: transparent;
}

#tabList {
    background-color: #444;
}
