.viewAll:hover {
    text-decoration: underline;
    opacity: 0.7
}

.navbar-default {
    padding-top:0px !important;
    margin-bottom: 0px !important;
}

.create-event {

}

.create-event {
    margin: 0 auto;
    text-align: center;
    background-color: #FF5A5F;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #FF5A5F;
    color: white;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open.slide-pane__overlay {
    z-index: 99;
}
