#header a, nav a {
    -webkit-tap-highlight-color: transparent;
}

header {
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: 2.5em;
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    min-height: 4em;
    background-color: #373947;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZDNkNyIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjOWE5ZmE3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODk5MDk5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d3d7), color-stop(90%, #9a9fa7), color-stop(100%, #899099));
    background: -moz-linear-gradient(top, #d0d3d7 0%, #9a9fa7 90%, #899099 100%);
    background: -webkit-linear-gradient(top, #d0d3d7 0%, #9a9fa7 90%, #899099 100%);
    background: linear-gradient(to bottom, #d0d3d7 0%, #9a9fa7 90%, #899099 100%);
}

#header {
    background: #373947;
    margin-bottom: 50px;
}

header a.username, header a.logout, header a.settings {
    text-decoration: none;
    color: #555a62;
    text-shadow: 0 1px rgba(255, 255, 255, 0.23);
    float: right;
    display: inline-block;
    margin: 0 .5em;
    padding: 0em 1.5em;
    line-height: 2.5em;
    height: 2.5em;
    -moz-border-radius: 0.1333em;
    -webkit-border-radius: 0.1333em;
    border-radius: 0.1333em;
}

header a.username:hover, header a.logout:hover, header a.settings:hover {
    color: #333;
}

header .username {
    margin-right: 0;
    padding-right: 0;
}

header ::-webkit-input-placeholder {
    color: #6d737e;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    line-height: 1.5em;
}

header ::-moz-placeholder {
    color: #6d737e;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

header h1 {
    text-transform: capitalize;
    margin: 0;
    padding: 0px 0px 0px 14px;
    float: left;
    display: inline-block;
    color: white;
    text-shadow: 0 1px rgba(255, 255, 255, 0.21);
    font-weight: 300;
    font-size: 2em;
    z-index: 3;
    line-height: 1em;
    text-indent: .75em;
    font-family: Overpass, sans, sans-serif;
}

header h1 a {
    font-size: 40px;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

header h1 abbr {
    margin-left: 10px;
    color: #00b1e2;
    font-size: .5em;
}

@media (max-width: 40em) {
    #header h1 {
        width: 100%;
        clear: both;
        margin-bottom: 1em;
    }

}



